body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 20px;
}

.navbar .links {
  white-space: nowrap;
  max-width: 1500px;
  margin: 0 auto;
}

.navbar .links .link{
    color: white;
    width: 25%;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.main .banner{
  color: 	#FFCD00;
  font-size: 200%;
  display: flex;
}

.main .banner h1{
  margin: auto;
  margin-top: calc(50vh - 95px);
}


.main .footer{
  width: 100%;
  position: absolute;
  bottom: 0%;
  text-align: center;
}

.about{
    color: white;
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.about article h2{
  font-size: 48px;
  letter-spacing: 0.05em;
  color: #00629B;
}

.about article p{
  text-indent: 5%;
  color: #C69214;
}

.project{
  position: relative;
  text-align: center;
  color: white;
}

.project img{
  max-width: 100%;
  height: auto;
}

.project .project-title{
  position: absolute;
  top: 17%;
  left: 100px;
  font-size: 400%;
}

.project .slider{
  margin: 0 26px;
}

.project button{
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 15px 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  color: #181818;
  text-align: center;
  transition: all 0.2s;
}

.project .project-text{
  margin-top: 5%;
  margin-bottom: 5%;
}

.project .project-text .learned{
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  line-height: 1.5em;
}

.project button .btn{
  text-decoration: none;
  color: inherit;
}

.projects{
  color: white;
}

.projects .cards{
  padding: 20px;
  display: flex;
}

.projects .cards .card{
  padding: 40px;
}

.projects .cards .card h4{
  text-align: center;
  border: 0.5rem outset pink;
  padding-top: 3%;
  padding-bottom: 3%;
}

.projects .cards .card img{
  height: 150px;
  width: auto;
}

.projects .cards .card img .round{
  border-radius: 30px;
}

.projects h1{
  margin-left: 5%;
  margin-top: 3%;
}

.projects h3{
  margin-left: 7%;
  color: #BB8EFE;
}

.contact h1{
  color: #00C6D7;
  /* font-family: cursive; */
  font-size: 200%;
  margin: 10%;
}

.contact .icon{
  margin: 5%;
}

@media only screen and (max-width: 1024px){
  .main .banner{
    height: 100px;
  }
  .projects .cards{
    display: block;
    text-align: center;
  }
  .projects .cards .card h4{
    width: 200px;
  }
  .projects .cards .card h4{
    position: relative;
    margin-left: calc(50vw - 162px);
  }
  .projects .cards .card img{
    width: 60vw;
    height: auto;
  }
  .project .project-title{
    font-size: 200%;
  }
  .main .banner{
    font-size: 100%;
    /* margin-top: calc(-webkit-fill-available - 58px); */
  }
}